.main-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin-left: 260px;
}

.left-panel {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-panel {
  width: 50%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  background-color:rgb(245, 245, 255);
  color: #000000;
}

.tabs-bar {
  margin-top: 20px;
  padding: 0 20px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnNormal {
  background-color: #18181b;
  color: white;
  padding: 8px 16px;
  border: none;
  min-width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnNormal:hover {
  background-color:rgb(124, 124, 131);
}

.top-tab {
  border-top: 1px solid #27272a;
  border-bottom: 1px solid #27272a;
  height: 60px;
  display: flex;
  align-items: center;
}

.response-label {
color: black;
  font-weight: 700;
  font-size: 17px;
}